body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(247, 247, 247);
    text-align: center;
}

.board-container {
    margin: auto;
}

.board {
    border-collapse: collapse;
}

.cell{
    width: 30px;  /* Adjust size as needed */
    height: 30px; 
    border: 1px solid black;  /* Adds a visible border */
}






